.detailsMe {
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 20px;
}

.detailsMe img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 15px;
}

.paraMe{
  padding: 10px;
}

.detailsMe .paraMe {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailsMe .paraMe p{
  margin: 5px 0;
  text-align: justify;
}

.detailsMe .paraMe a{
  color: rgb(44, 118, 255);
}

.detailsMe .wrapper-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.detailsMe .wrapper-btn p {
  text-align: center;
}

.detailsMe .wrapper-btn .btn-cv {
  margin-top: 10px;
  text-decoration: none;
  color: #1b1b1b;
}

.detailsMe .wrapper-btn .btn-cv .setSizeIcon {
  font-size: 25px;
}

@media screen and (max-width: 772px) {
  .detailsMe {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 20px;
  }

  .detailsMe img{
    margin: 0;
  }

  .detailsMe .paraMe {
    width: 100%;
  }

  .detailsMe .wrapper-btn {
    width: 100%;
    border: none;
  }

  .detailsMe .wrapper-btn .btn-cv {
    margin-top: 0;
  }
}
